<app-header-buttons
  class="with-padding"
  [headerButtons]="headerButtons"
></app-header-buttons>
<div class="profile">
  <div class="profile__hero">
    <img
      src="assets/icons/home-header/User-solid.svg"
      alt=""
      class="profile__user-photo"
    />
    <div class="profile__main-texts">
      <h4 class="profile__name">Scott Fulguirinas</h4>
      <p class="profile__username">scottify20</p>
    </div>
  </div>
  <div class="profile__bio-and-info-container">
    <p class="profile__bio profile__section-container">
      Lorem ipsum dolor, sit amet consec adipisicing elit. Delectus eveniet fuga
      nulla repellat nam eos quo! Dolorem, esse tempora accusamus facilis
      nostrum consectetur recusandae. Nihil!
    </p>
    <div class="profile__info-container profile__section-container">
      <div class="profile__info-with-icon-container">
        <img
          src="assets/icons/profile/Location.svg"
          alt=""
          class="profile__info-icon"
        />
        <p class="profile__info-text profile__location">Philippines</p>
      </div>
      <div class="profile__info-with-icon-container">
        <img
          src="assets/icons/profile/Profile.svg"
          alt=""
          class="profile__info-icon"
        />
        <p class="profile__info-text profile__membership">
          Member since July 2024
        </p>
      </div>
    </div>
    <div class="profile__section-container">
      <div class="profile__info-with-icon-container">
        <img
          src="assets/icons/profile/Settings.svg"
          alt=""
          class="profile__info-icon"
        />
        <p class="profile__info-text profile__location">Settings</p>
      </div>
    </div>
    <div class="profile__section-container">
      <div class="profile__info-with-icon-container">
        <img
          src="assets/icons/profile/Location.svg"
          alt=""
          class="profile__info-icon"
        />
        <p class="profile__info-text profile__location">Switch Account</p>
      </div>
      <div class="profile__info-with-icon-container">
        <img
          src="assets/icons/profile/Logout.svg"
          alt=""
          class="profile__info-icon"
        />
        <p class="profile__info-text profile__location">Log Out</p>
      </div>
    </div>
  </div>
</div>
