<app-header-buttons
  class="with-padding"
  [headerButtons]="headerButtons"
></app-header-buttons>

<app-user-actions-menu-popover></app-user-actions-menu-popover>

<div class="home__main">
  <app-hero-cards [trendingTitles]="trendingTitles"></app-hero-cards>
  <app-cards-section
    [cardsSectionOptions]="trendingMoviesOptions"
  ></app-cards-section>

  <app-cards-section
    [cardsSectionOptions]="trendingSeriesOptions"
    routerLink="/user"
  ></app-cards-section>

  <app-cards-section
    [cardsSectionOptions]="trendingPeopleOptions"
  ></app-cards-section>
</div>
