<app-review-modal [props]="reviewModalProps"></app-review-modal>

<!-- if the shown are set to tmdb -->
@if (reviewsSource() === "tmdb") {
  <div class="reviews">
    @for (review of tmdbReviewsData.results; track review.id) {
      <app-review
        #reviewEl_1
        [props]="review"
        [isModal]="false"
        (click)="showReviewModal(review)"
      ></app-review>
    }
  </div>
}

<!-- if the shown are set to salida -->

@if (reviewsSource() === "salida") {
  <div class="reviews">
    @for (review of salidaReviews.results.reverse(); track review.id) {
      <app-review
        #reviewEl_2
        [props]="review"
        [isModal]="false"
        (click)="showReviewModal(review)"
      ></app-review>
    }
  </div>
}
