<div class="episode-card">
  <div class="episode__poster-and-mini-number-container">
    <p class="episode__mini-number">{{ episodeDetails.episode_number }}</p>
    <img
      [src]="'https://image.tmdb.org/t/p/w300' + episodeDetails.still_path"
      alt=""
      class="episode-card__thumbnail"
    />
  </div>

  <div class="episode-card__texts-container">
    <div class="episode-card__header">
      <p class="episode__number">{{ episodeDetails.episode_number }}</p>

      <div class="title-runtime-and-date-container">
        <h4 class="episode__title">{{ episodeDetails.name }}</h4>
        <p class="episode__date-and-runtime">
          <span class="episode__release-date">{{
            episodeDetails.air_date | date : "MMM d, y"
          }}</span>
          <span class="dot-separator"> • </span>
          <span class="episode__runtime">{{ episodeDetails.runtime }} min</span>
        </p>
      </div>
    </div>

    <p class="episode__plot">
      {{ episodeDetails.overview }}
    </p>
  </div>
</div>
