<div
  tabindex="0"
  role="button"
  class="section-header"
  (click)="props.viewAllButtonProps?.onClick()"
  (keydown.enter)="props.viewAllButtonProps?.onClick()"
  [class]="props.viewAllButtonProps?.onClick ? 'clickable' : ''"
>
  <div class="section-header__icon-and-title">
    @if (props.iconURL) {
      <img
        class="section-header__icon"
        [src]="props.iconURL"
        [alt]="'Icon for list named: ' + props.sectionTitle"
      />
    }
    <h4 class="section-header__title">
      {{ this.extractStringService.extract(props.sectionTitle) }}
    </h4>
  </div>

  @if (props.viewAllButtonProps) {
    <div class="section-header__button">
      <div class="section-header__button--icon">
        <img src="/assets/icons/ArrowToRight.svg" alt="" />
      </div>
    </div>
  }
</div>
