<div class="toggle-switch">
  <div class="toggle-switch__buttons-container">
    @if (props.buttonsContent === "text") {
      @for (button of props.buttons; track button) {
        <div
          (keydown.enter)="button.onClick()"
          tabindex="0"
          role="button"
          (click)="button.onClick()"
          class="toggle-switch__button text"
          [class]="button.isActive() ? 'active' : ''"
        >
          {{ button.label }}
        </div>
      }
    }

    @if (props.buttonsContent === "icon") {
      @for (button of props.buttons; track button) {
        <div
          (keydown.enter)="button.onClick()"
          tabindex="0"
          role="button"
          (click)="button.onClick()"
          class="toggle-switch__button icon"
          [class]="button.isActive() ? 'active' : ''"
        >
          @if (button.isActive()) {
            <img [src]="button.iconPathActive" alt="" />
          } @else {
            <img [src]="button.iconPathDisabled" alt="" />
          }
        </div>
      }
    }
  </div>
</div>
