<!-- if the shown are set to tmdb -->
@if (reviewsConfig.reviewsSource === "tmdb") {
  <div class="reviews" [ngClass]="isLoading ? 'loading' : ''">
    @for (review of tmdbReviewsData.results; track review.id) {
      <div class="review">
        @if (review.author_details.avatar_path) {
          <img
            [src]="
              'https://image.tmdb.org/t/p/w185' +
              review.author_details.avatar_path
            "
            alt=""
            class="review__profile-photo"
          />
        } @else {
          <img
            src="assets/icons/placeholders/Profile.svg"
            alt=""
            class="review__profile-photo"
          />
        }

        <div class="review__header-texts">
          <h4 class="review__username">{{ review.author }}</h4>
          <div class="review__rating-and-date-container">
            @if (review.author_details.rating) {
              <div class="review__rating-container">
                <img
                  src="assets/icons/ratings/Star.svg"
                  alt=""
                  class="review__rating_star"
                />
                <p class="review__rating-value">
                  {{ review.author_details.rating }}0%
                </p>
              </div>
            }
            <p class="review_date">
              {{ review.created_at | date: "MMM dd, yyyy" }}
            </p>
          </div>
        </div>
        <p [data]="review.content" markdown class="review__body"></p>
      </div>
    }
  </div>
}

<!-- if the shown are set to salida -->

@if (reviewsConfig.reviewsSource === "salida") {
  <div class="reviews" [ngClass]="isLoading ? 'loading' : ''">
    @for (review of salidaReviews.results.reverse(); track review) {
      <div class="review">
        @if (review.author_details.avatar_path) {
          <img
            [src]="
              'https://image.tmdb.org/t/p/w185' +
              review.author_details.avatar_path
            "
            alt=""
            class="review__profile-photo"
          />
        }
        @if (!review.author_details.avatar_path) {
          <img
            src="assets/icons/placeholders/Profile.svg"
            alt=""
            class="review__profile-photo"
          />
        }
        <div class="review__header-texts">
          <h4 class="review__username">{{ review.author }}</h4>
          <div class="review__rating-and-date-container">
            @if (review.author_details.rating) {
              <div class="review__rating-container">
                <img
                  src="assets/icons/ratings/Star.svg"
                  alt=""
                  class="review__rating_star"
                />
                <p class="review__rating-value">
                  {{ review.author_details.rating }}0%
                </p>
              </div>
            }
            <p class="review_date">
              {{ review.created_at | date: "MMM dd, yyyy" }}
            </p>
          </div>
        </div>
        <p [data]="review.content" markdown class="review__body"></p>
      </div>
    }
  </div>
}
