.title__details {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 2.5rem;
  padding: 0.75rem 1rem;
}

.title__section-two-columns-container {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 2.5rem;
}

@media (min-width: 721px) {
  .title__section-two-columns-container.double {
    grid-template-columns: repeat(2, calc(50% - 1rem));
    align-items: stretch;
    column-gap: 2rem;
  }
}

.title__section {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: var(--divider-color);
    transform: translateY(1.25rem);
  }
}

.plot-and-genres {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.genres-and-keywords {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.25rem;
}
