<form class="search-bar" [formGroup]="searchForm" (submit)="onSubmit($event)">
  <input
    #searchInput
    class="search-bar__input"
    type="search"
    placeholder="Search"
    tabindex="0"
    formControlName="searchQuery"
    (keydown.enter)="onSubmit($event)"
  />

  @if (hasValue) {
    <button
      (click)="onClear()"
      tabindex="0"
      type="button"
      class="search-bar__clear-button"
    >
      <img src="assets/icons/search/clear.svg" alt="Clear" />
    </button>
  }

  <button
    #searchButton
    tabindex="0"
    (keydown.enter)="searchButton.click()"
    class="search-bar__submit-button"
    type="submit"
  >
    <img src="assets/icons/search/search.svg" alt="Search" />
  </button>
</form>
