<div class="title-cards-section">
  <app-section-title [props]="sectionTitleOptions"></app-section-title>
  <div class="container">
    @if (props.layout === "carousel") {
      <app-scroll-buttons
        [positionValues]="{ top: '30%', left: '0', right: '0' }"
      ></app-scroll-buttons>
    }
    <!--  -->
    <div
      class="cards-container clickable-cards"
      [class]="props.layout === 'carousel' ? 'carousel' : 'grid'"
    >
      @for (
        entity of extractEntities(props.entities);
        track entity.id;
        let i = $index
      ) {
        @if (props.maxNoOfCards && i < props.maxNoOfCards) {
          <app-person-card [entity]="entity"> </app-person-card>
        }
      }
    </div>
    <!--  -->
  </div>
</div>
