<div
  class="hero-card"
  [id]="'hero-card--' + props.id"
  [attr.data-card-index]="cardIndex"
  (click)="onCardClick()"
  role="button"
  (keydown.enter)="onCardClick()"
  tabindex="0"
>
  @if (getImageSrcBasedOnWidth()) {
    <img
      class="hero-card__poster loading"
      #poster
      (load)="poster.classList.remove('loading')"
      [src]="getImageSrcBasedOnWidth()"
      [alt]="getPosterOrBackdropAlt"
      [attr.data-card-index]="cardIndex"
    />
  }
  <div
    class="hero-card__details"
    [id]="cardIndex === 0 ? 'hero-card__details--0' : ''"
    [style]="cardOpacity"
  >
    <div class="hero-card__texts">
      <h4 class="hero-card__title">
        {{ props.title || props.name }}
      </h4>
      <div class="hero-card__metadata"></div>
      <p class="hero-card__plot">{{ props.overview }}</p>
    </div>
  </div>
</div>
