<div class="episode-group">
  <div class="epsode-group__header">
    <div class="episode-group__main-info-container">
      <h4 class="epsode-group__season-title">Season 1</h4>
      <div class="episode-group__season-info-icon">ⓘ</div>
      <div class="episode-group__numbers-of-episodes">8 Episodes</div>
    </div>

    <img src="assets/icons/Arrow.svg" alt="" class="episode-group-arrow-icon" />
  </div>

  <div class="episode-group__episode-cards-container">
    <div class="episode-card">
      <div class="episode__poster-and-mini-number-container">
        <p class="episode__mini-number">1</p>
        <img
          src="https://image.tmdb.org/t/p/w300/83vFYTHtCqWwaDtZluSU8bmnFYG.jpg"
          alt=""
          class="episode-card__thumbnail"
        />
      </div>

      <div class="episode-card__texts-container">
        <div class="episode-card__header">
          <p class="episode__number">1</p>

          <div class="title-runtime-and-date-container">
            <h4 class="episode__title">The Name of the Game</h4>
            <p class="episode__date-and-runtime">
              <span class="episode__release-date">July 25, 2019</span>
              <span class="dot-separator"> • </span>
              <span class="episode__runtime">62 min</span>
            </p>
          </div>
        </div>

        <p class="episode__plot">
          When a Supe kills the love of his life, A/V salesman Hughie Campbell
          teams up with Billy Butcher, a vigilante hell-bent on punishing
          corrupt Supes — and Hughie’s life will never be the same again.
        </p>
      </div>
    </div>
  </div>
</div>
