<div class="episode-group">
  <div class="epsode-group__header">
    <div class="episode-group__main-info-container">
      <h4 class="epsode-group__season-title">{{ seasonSummary.name }}</h4>
      <div class="episode-group__season-info-icon">ⓘ</div>
      <div class="episode-group__numbers-of-episodes">
        {{ seasonSummary.episode_count }} Episodes
      </div>
    </div>

    <img src="assets/icons/Arrow.svg" alt="" class="episode-group-arrow-icon" />
  </div>

  <div class="episode-group__episode-cards-container">
    <app-episode-card
      *ngFor="let episode of seasonDetails.episodes"
      [episodeDetails]="episode"
    ></app-episode-card>
  </div>
</div>
