:host {
  --episode-global-padding: 0.75rem;
  --episode-thumbnail-height: 148px;
}

.episode-group {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 1rem;
}

.epsode-group__header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  .episode-group__main-info-container {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 0.75rem;
    align-items: center;

    .epsode-group__season-title {
      font-size: 1.2rem;
    }

    .episode-group__numbers-of-episodes {
      font-size: calc(0.9rem);
      padding: 0.36em 0.5em;
      border-radius: 100px;
    }

    .episode-group__numbers-of-episodes {
      color: var(--text-accent-color);
      background-color: var(--text-hightlight-accent-color);
    }
  }

  .episode-group-arrow-icon {
    grid-area: arr;
  }
}

.episode-group__episode-cards-container {
  display: flex;
  flex-flow: column nowrap;
}

.episode-card {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "thumb texts";
  grid-template-rows: var(--episode-thumbnail-height);

  border-radius: var(--episode-global-padding);
  background-color: var(--card-bg-color-subtle);
  overflow: hidden;
  height: var(--episode-thumbnail-height);
}

.episode__poster-and-mini-number-container {
  overflow: hidden;
  position: relative;
  grid-area: thumb;
  height: 100%;
  aspect-ratio: 16 / 11;

  .episode__mini-number {
    display: none;
    background-color: var(--accent-color);
    position: absolute;
    color: var(--text-color-inverted);
    padding: 0.35em;
    border-radius: 0.3em;
    top: 0.5em;
    right: 0.5em;
    font-weight: 600;
  }
  .episode-card__thumbnail {
    height: 100%;
    aspect-ratio: 16 / 11;
    object-fit: cover;
  }
}

.episode-card__texts-container {
  grid-area: texts;
  padding: var(--episode-global-padding);

  display: flex;
  flex-flow: column nowrap;
  row-gap: var(--episode-global-padding);
  margin: auto 0;
}

.episode-card__header {
  display: grid;
  grid-template-areas: "number texts";
  grid-template-columns: auto 1fr;
  column-gap: var(--episode-global-padding);

  .episode__number {
    margin: auto;
    grid-area: number;
    font-size: 1.5rem;
    width: min-content;
    height: min-content;

    text-align: center;
    background-color: var(--accent-color);
    color: var(--text-color-inverted);
    padding: 0.25em 0.4em;
    border-radius: 0.25em;
    top: 0.5em;
    right: 0.5em;
    font-weight: 600;
  }

  .title-runtime-and-date-container {
    grid-area: texts;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 0.5em;

    .episode__title {
      font-size: 1.2rem;
      font-weight: 600;
      max-height: 1em;
      overflow: hidden;
    }

    .episode__date-and-runtime {
      display: flex;
      flex-flow: row nowrap;
      width: min-content;
      align-items: center;
      font-size: 0.833rem;

      span {
        text-wrap: nowrap;
        color: var(--text-color-disabled);
      }
    }
  }
}

.episode__plot {
  color: var(--text-color-slightly-transparent);
  font-weight: 300;
  line-height: 1.5;

  max-height: calc(1.5 * 1em * 3);
  overflow: hidden;
}

@media (max-width: 640px) {
  :host {
    --episode-thumbnail-height: 85px;
  }

  .episode__poster-and-mini-number-container {
    .episode__mini-number {
      display: grid;
    }
  }

  .episode-card__header {
    column-gap: 0;

    .episode__number {
      display: none;
    }

    .title-runtime-and-date-container {
      row-gap: 0.75em;

      .episode__title {
        font-size: 1.2rem;
        font-weight: 600;
      }

      .episode__date-and-runtime {
        span {
          color: var(--text-color-subtle);
          font-weight: 300;
        }
        font-size: 1rem;
      }
    }
  }

  .episode__plot {
    display: none;
  }
}
