<div class="collapsible-texts-section">
  <div class="section-header">
    @if (collapsibleTextSectionProps.sectionTitle; as sectionTitle) {
      <h4
        class="section-header__title"
        >
        {{ sectionTitle }}
      </h4>
    }
  </div>

  <div
    #textContainer
    class="collapsible-texts-section__texts-container"
    [style.max-height]="currentHeight()"
    [ngClass]="{ 'apply-transition': applyTransition }"
    [class]="animateLengthClass()"
    (click)="toggleExpanded(); applyTransition = true"
    >
    <p
      #textElement
      class="collapsible-texts-section__text"
      [class]="isOverFlowing() ? 'overflowing' : ''"
      >
      {{ collapsibleTextSectionProps.text }}
    </p>
  </div>

  <!-- Invisible container to calculate the expanded height -->
  <div #shadowTextContainer class="shadow__texts-container">
    <p class="collapsible-texts-section__text">
      {{ collapsibleTextSectionProps.text }}
    </p>
  </div>
</div>

<!-- Expand/Collapse button -->
@if (isOverFlowing()) {
  <div
    role="button"
    class="collapsible-texts-section__expand-button"
    (click)="toggleExpanded(); applyTransition = true"
    >
    @if (isExpanded()) {
      <!-- arrow up svg icon -->
      <svg
        width="18"
        height="9"
        viewBox="0 0 18 9"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        >
        <path
          d="M1 7.979L9 0.999967L17 7.979"
          stroke="FFFFFF"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          />
        </svg>
        <!-- arrow up svg icon -->
      } @else {
        <p>•</p>
        <p>•</p>
        <p>•</p>
      }
    </div>
  }
