<div class="texts-section">
  <div class="section-header">
    <h4 class="section-header__title">{{ plotSectionOptions.sectionTitle }}</h4>

    @if (plotSectionOptions.buttonProps; as buttonProps) {
      @if (plotIsOverflowing(textElement, textContainer)) {
        <div
          class="section-header__button"
          (click)="expanded = !expanded"
          role="button"
          >
          @switch (buttonProps.type) {
            <!-- if button is a text -->
            @case ('text') {
              <div
                [textContent]="expanded ? 'Collapse' : 'Expand'"
                class="section-header__button--text"
              ></div>
            }
            @case ('icon') {
              <!-- if button is an icon -->
              <div class="section-header__button--icon">
                <img [src]="buttonProps.textOrIconPath" alt="" />
              </div>
            }
          }
        </div>
      }
    }
  </div>

  <div
    #textContainer
    [ngClass]="!expanded ? 'plot-cutoff' : ''"
    class="texts-section__texts-container"
    >
    <p #textElement class="texts-section__text">
      {{ plotSectionOptions.texts[0] }}
    </p>
  </div>
</div>
