<div class="collapsible-texts-section">
  <div class="section-header">
    <h4
      class="section-header__title"
      *ngIf="collapsibleTextSectionProps.sectionTitle as sectionTitle"
    >
      {{ sectionTitle }}
    </h4>
  </div>

  <div
    #textContainer
    class="collapsible-texts-section__texts-container"
    [style.max-height]="currentHeight()"
    [ngClass]="{ 'apply-transition': applyTransition }"
    (click)="toggleExpanded(); applyTransition = true"
  >
    <p #textElement class="collapsible-texts-section__text">
      {{ collapsibleTextSectionProps.texts[0] }}
    </p>
  </div>

  <!-- Invisible container to calculate the expanded height -->
  <div #shadowTextContainer class="shadow__texts-container">
    <p class="collapsible-texts-section__text">
      {{ collapsibleTextSectionProps.texts[0] }}
    </p>
  </div>
</div>

<!-- Expand/Collapse button -->
@if (isOverFlowing()) {
  <div
    role="button"
    class="collapsible-texts-section__expand-button"
    (click)="toggleExpanded(); applyTransition = true"
  >
    @if (isExpanded()) {
      <p>-</p>
    } @else {
      <p>•</p>
      <p>•</p>
      <p>•</p>
    }
  </div>
}
