.section-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.section-header__title {
  font-size: 1.2rem;
  color: var(--text-color);
  font-weight: 600;
  opacity: 70%;
}

.collapsible-texts-section {
  display: flex;
  flex-flow: column nowrap;
  overflow-x: hidden;
}

.collapsible-texts-section__texts-container {
  will-change: height;
  display: grid;
  overflow: hidden;
  max-height: max-content;
  width: 100%;

  &.truncated {
    max-height: calc(1rem * 3 * 1.5);
  }

  &.expanded {
    max-height: none;
  }

  &.apply-transition {
    transition: max-height var(--material-easing) 0.25s;
  }
}

.collapsible-texts-section__text {
  display: inline;
  font-size: 1rem !important;
  color: var(--text-color-slightly-transparent);
  font-weight: 300;
  line-height: 1.5rem;
}

.shadow__texts-container {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: max-content;
  pointer-events: none;
  opacity: 0%;
}

.collapsible-texts-section__expand-button {
  cursor: pointer;
  width: max-content;
  margin: 0 auto;

  border-radius: 100px;
  column-gap: 2px;
  padding: 0.125em 0.5em;
  opacity: 100%;

  display: flex;
  flex-flow: row nowrap;
  place-content: center;

  &:hover,
  &:active {
    background-color: rgba(255, 255, 255, 0.15);
  }

  &:active {
    opacity: 50%;
  }

  p {
    color: var(--color-accent);
    font-size: 1.2rem;
    transform: translateY(-0.05em);
  }

  &:has(svg) {
    padding: 0.5rem 0.75rem;
  }

  svg {
    stroke: var(--accent-color);
  }
}

@media (hover: none) {
  .collapsible-texts-section__expand-button p {
    transform: translateY(0.04em);
    font-size: 1.3rem;
  }
}
