<!-- if the release dates are grouped by release type -->
@if (releasesPreferences.groupBy == "release-type") {
  <div [ngClass]="isLoading ? 'loading' : ''" class="releases release-type">
    @for (releaseType of releasesByType | keyvalue; track releaseType) {
      @if (releaseType.value[0]) {
        <div class="releases__type-container">
          <h4 class="release__type-name">
            {{ releaseType.key | uppercase }}
          </h4>
          @if (
            releasesPreferences.dateOrder === "newest-first" ||
            releasesPreferences.dateOrder === "oldest-first"
          ) {
            <div class="releases__releases-container">
              @for (
                release of releaseType.value;
                let i = $index;
                track release
              ) {
                <div
                  [ngClass]="
                    isFirstInReleaseDate(release, releaseType.value)
                      ? 'first-release-by-date'
                      : ''
                  "
                  class="release"
                >
                  @if (!isFirstInReleaseDate(release, releaseType.value)) {
                    <p class="release__date-empty-placeholder"></p>
                  }

                  @if (isFirstInReleaseDate(release, releaseType.value)) {
                    <p class="release__date">
                      {{ release.release_date | date: "dd MMM yyyy" }}
                    </p>
                  }

                  <div class="release__details-container">
                    <img
                      [src]="
                        'https://purecatamphetamine.github.io/country-flag-icons/3x2/' +
                        release.iso_639_1 +
                        '.svg'
                      "
                      alt=""
                      class="release__flag"
                    />
                    @if (release.iso_639_1) {
                      <p class="release__country-name">
                        {{ getCountryNameFromCode(release.iso_639_1) }}
                      </p>
                    }

                    @if (release.certification) {
                      <p class="release__rating">
                        {{ release.certification }}
                      </p>
                    }

                    @if (release.note) {
                      <p class="release__note">{{ release.note }}</p>
                    }
                  </div>
                </div>
              }
            </div>
          }
        </div>
      }
    }
  </div>
}

<!-- if the release dates are grouped by country -->

@if (releasesPreferences.groupBy == "country") {
  <div [ngClass]="isLoading ? 'loading' : ''" class="releases country">
    <div class="releases__type-container">
      <h4 class="release__type-name">COUNTRY</h4>
      <div class="releases__countries-container">
        @for (country of releasesByCountry; track country) {
          <div class="releases__country-container">
            <div class="release__country-name-and-flag-container">
              <img
                [src]="
                  'https://purecatamphetamine.github.io/country-flag-icons/3x2/' +
                  country.iso_3166_1 +
                  '.svg'
                "
                alt=""
                class="release__flag"
              />
              <p class="release__country-name">
                {{ getCountryNameFromCode(country.iso_3166_1) }}
              </p>
            </div>

            <div class="releases__releases-container">
              @for (release of country.release_dates; track release) {
                <div class="release">
                  @if (release.release_date) {
                    <p class="release__date">
                      {{ release.release_date | date: "dd MMM yyyy" }}
                    </p>
                  }

                  @if (release.certification) {
                    <p class="release__rating">
                      {{ release.certification }}
                    </p>
                  }

                  @if (release.note) {
                    <p class="release__note">{{ release.note }}</p>
                  }
                </div>
              }
            </div>
          </div>
        }
      </div>
    </div>
  </div>
}
