<div class="title__metadataContainer">
  <p class="title__metadata">
    @if (metadata.year) {
      <span class="metadata-text">
        {{ metadata.year }}
      </span>

      @if (
        metadata.rating ||
        (metadata.runtimeOrSeasons && metadata.runtimeOrSeasons !== "0min") ||
        getStatusText(metadata.status)
      ) {
        <span class="meta-divider">•</span>
      }
    }

    @if (metadata.runtimeOrSeasons && metadata.runtimeOrSeasons !== "0min") {
      <span class="metadata-text">
        {{ metadata.runtimeOrSeasons }}
      </span>

      @if (getStatusText(metadata.status) || metadata.rating) {
        <span class="meta-divider">•</span>
      }
    }

    @if (metadata.rating) {
      <span class="metadata-rating metadata-text">
        {{ metadata.rating }}
      </span>

      @if (getStatusText(metadata.status)) {
        <span class="meta-divider">•</span>
      }
    }

    @if (getStatusText(metadata.status); as statusText) {
      <span class="metadata-text">
        {{ statusText }}
      </span>
    }
  </p>
</div>
