.title__metadataContainer {
  // margin-bottom: 0.75rem;
  opacity: 90%;
  display: flex;
  flex-flow: row nowrap;
  font-size: 1rem;
  align-items: center;
  align-content: center;

  .title__metadata {
    .metadata-text {
      color: var(--text-color-subtle);
    }

    .metadata-text.metadata-rating {
      text-align: center;
      font-size: 0.7rem;
      border: 1px solid var(--text-color-subtle);
      margin: 0 0.5em;
      padding: 0.2em 0.25em;
      border-radius: 0.25rem;
    }

    .meta-divider {
      padding: 0.15em;
      opacity: 0.2;
    }
  }
}
