<div class="dialog">
  <div class="dialog__content-container">
    <img src="assets/icons/dialog/warning.svg" alt="" class="dialog__icon" />
    <h4 class="dialog__title">Disable your account?</h4>
    <ul class="dialog__text-items-container">
      <li class="dialog__text-item">
        You'll stop receiving updates and notifications.
      </li>
      <li class="dialog__text-item">
        Your profile, lists, and reviews will be hidden from other users.
      </li>
    </ul>
  </div>
  <div class="dialog__buttons-container">
    <div class="dialog__button secondary" (click)="closeDialog()">Cancel</div>
    <div class="dialog__button primary warning" (click)="closeDialog()">
      Disable
    </div>
  </div>
</div>
