<div class="seasons-cotainer" *ngFor="let season of seasonSummaries">
  <app-episode-group
    *ngIf="seasonsConfig.selectedSeason == season.name"
    [seasonId]="seasonId"
    [seasonSummary]="season"
  ></app-episode-group>
</div>

<div
  #dialog
  class="season-picker-dialog fullscreen-dialog"
  [ngClass]="this.seasonsConfig.pickerShown ? 'shown' : ''"
>
  <div class="dialog__backrop" (click)="hideDialog()"></div>

  <div class="dialog__arrow-and-items-container">
    <img
      src="assets/icons/popups/Popup-tip.svg"
      alt=""
      class="dialog__popup-pointer"
    />
    <img
      src="assets/icons/Arrow.svg"
      alt=""
      class="dialog__arrow-down-button"
      (click)="hideDialog()"
    />
    <ul class="dialog__items-container">
      <li
        (click)="item.callback(); hideDialog()"
        *ngFor="let item of seasonPickerConfig.items"
        class="dialog__item"
        [ngClass]="item.isSelected() ? 'selected' : ''"
      >
        {{ item.textContent }}
      </li>
    </ul>
  </div>
</div>
