.episode-card {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "thumb texts";
  grid-template-rows: var(--episode-thumbnail-height);

  border-radius: var(--episode-global-padding);
  background-color: var(--card-bg-color-subtle);
  overflow: hidden;
  height: var(--episode-thumbnail-height);
}

.episode__poster-and-mini-number-container {
  position: relative;
  overflow: hidden;
  grid-area: thumb;
  height: 100%;
  aspect-ratio: 16 / 11;

  .episode__mini-number {
    display: none;
  }
  .episode-card__thumbnail {
    height: 100%;
    aspect-ratio: 16 / 11;
    object-fit: cover;
  }
}

.episode-card__texts-container {
  grid-area: texts;
  padding: var(--episode-global-padding);

  display: flex;
  flex-flow: column nowrap;
  row-gap: var(--episode-global-padding);
  margin: 0;
}

.episode-card__header {
  display: grid;
  grid-template-areas: "number texts";
  grid-template-columns: auto 1fr;
  column-gap: var(--episode-global-padding);

  .episode__number {
    margin: auto;
    grid-area: number;
    font-size: 1.5rem;
    width: min-content;
    height: min-content;

    text-align: center;
    background-color: var(--accent-color);
    color: var(--text-color-inverted);
    padding: 0.25em 0.4em;
    border-radius: 0.25em;
    top: 0.5em;
    right: 0.5em;
    font-weight: 600;
  }

  .title-runtime-and-date-container {
    grid-area: texts;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 0.5em;

    .episode__title {
      font-size: 1.2rem;
      font-weight: 600;
      max-height: 1em;
      overflow: hidden;
    }

    .episode__date-and-runtime {
      display: flex;
      flex-flow: row nowrap;
      width: min-content;
      align-items: center;
      font-size: 0.833rem;

      span {
        text-wrap: nowrap;
        color: var(--text-color-disabled);
      }
    }
  }
}

.episode__plot {
  color: var(--text-color-slightly-transparent);
  font-weight: 300;
  line-height: 1.5;

  max-height: calc(1.5 * 1em * 3);
  overflow: hidden;
}

@media (max-width: 640px) {
  :host {
    --episode-thumbnail-height: 85px;
  }

  .episode__poster-and-mini-number-container {
    .episode__mini-number {
      display: unset;
      background-color: var(--accent-color);
      position: absolute;
      color: var(--text-color-inverted);
      padding: 0.35em;
      border-radius: 0.3em;
      top: 0.5em;
      right: 0.5em;
      font-weight: 600;
      overflow: clip;
      opacity: 90%;
      z-index: 3;
    }
  }

  .episode-card__header {
    column-gap: 0;

    .episode__number {
      display: none;
    }

    .title-runtime-and-date-container {
      row-gap: 0.5rem;

      .episode__title {
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 1.2;
        max-height: calc(1.125rem * 1.2 * 2);
      }

      .episode__date-and-runtime {
        font-size: 0.9rem;

        span {
          color: var(--text-color-subtle);
          font-weight: 300;
        }
      }
    }
  }

  .episode__plot {
    display: none;
  }
}

.episode-card.no-plot {
  --episode-thumbnail-height: 85px;
  .episode__poster-and-mini-number-container {
    .episode__mini-number {
      display: grid;
    }
  }

  .episode-card__header {
    column-gap: 0;

    .episode__number {
      display: none;
    }

    .title-runtime-and-date-container {
      row-gap: 0.5rem;

      .episode__title {
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 1.2;
        max-height: calc(1.125rem * 1.2 * 2);
      }

      .episode__date-and-runtime {
        font-size: 0.9rem;

        span {
          color: var(--text-color-subtle);
          font-weight: 300;
        }
      }
    }
  }

  .episode__plot {
    display: none;
  }
}
