.dots-loading-animation {
  font-size: 1.75rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  transform: translateY(-15%);

  & * {
    color: var(--text-color-inverted);
  }

  @for $i from 1 through 5 {
    .dot-#{$i} {
      animation: LoadingDot 1s ease-in-out infinite;
      animation-delay: ($i - 1) *
        0.075s; // Reduced delay for smoother transition
    }
  }
}

@keyframes LoadingDot {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(0.3em);
  }

  50% {
    transform: translateY(-0.3em);
  }

  75% {
    transform: translateY(0.15em);
  }

  100% {
    transform: translateY(0);
  }
}
