.section-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.section-header__title {
  font-size: 1.25rem;
  color: var(--text-color);
  font-weight: 600;
}

.section-header__button {
  color: var(--text-color-subtle);
  font-size: 1rem;
}
