.section-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.section-header__title {
  font-size: 1.2rem;
  color: var(--text-color);
  opacity: 70%;
  font-weight: 600;
}

.section-header__button {
  cursor: pointer;
  height: 100%;

  &:active {
    filter: brightness(150%);
  }
}

.section-header__button--text {
  user-select: none;
  padding: 0.375rem 0.5rem;
  font-size: 0.85rem;
  color: var(--color-accent);
  border-radius: 100px;

  &:hover {
    background-color: var(--card-bg-color);
  }
}
