@if (showNavBar()) {
  <div class="nav">
    <div class="nav__items-container">
      @for (item of navItems; track item; let i = $index) {
        <div
          role="button"
          class="nav__item"
          [routerLink]="item.routerPath"
          [routerLinkActiveOptions]="{ exact: item.exact }"
          routerLinkActive="active"
          >
          <img [src]="getIconPath(i)" class="nav__item__icon" />
          <div class="nav__item__label">
            {{ item.label }}
          </div>
        </div>
      }
    </div>
  </div>
}
