// cards state animations (apply class on container to apply animations on children)

@media (hover: hover) {
  .clickable-cards {
    & > * {
      transition:
        filter 0.3s ease-in-out,
        transform 0.2s ease-in-out;
    }

    & > *.big-card {
      transition: transform 0.15s ease-in-out;
    }

    &:hover > * {
      cursor: pointer;
      filter: brightness(100%);
      transform: scale(1);

      &:hover {
        transform: scale(0.95);
      }

      &:hover.big-card {
        transform: scale(0.98);
      }

      &:not(:hover):not(.big-card) {
        filter: brightness(80%);
      }

      &:active {
        transform: scale(0.9);
      }
    }
  }
}

@media (hover: none) {
  .clickable-cards {
    & > * {
      transition:
        filter 0.3s ease-in-out,
        transform 0.2s ease-in-out;
    }

    & > *.big-card {
      transition: transform 0.15s ease-in-out;
    }

    & > * {
      &:active {
        transform: scale(0.9);
      }
    }
  }
}

.fade-in {
  animation: fadeIn 0.3s ease-out forwards;
}

.slide-in-from-left {
  animation: slideInFromLeft 0.3s var(--material-easing) forwards;
}

.slide-in-from-right {
  animation: slideInFromRight 0.3s var(--material-easing) forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-40px);
    opacity: 0%;
  }

  75% {
    opacity: 100%;
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(40px);
    opacity: 0%;
  }

  75% {
    opacity: 100%;
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideDown {
  0% {
    bottom: 0;
  }
  100% {
    bottom: -100%;
  }
}

@keyframes slideUp {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    pointer-events: none;
    user-select: none;
  }

  100% {
    opacity: 100%;
    pointer-events: all;
    user-select: auto;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 100%;
    pointer-events: all;
    user-select: auto;
  }

  100% {
    opacity: 0;
    pointer-events: none;
    user-select: none;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes ScaleDown {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.925);
  }
}

@keyframes FadeOut {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}

@keyframes ScaleUp {
  0% {
    transform: scale(0.925);
  }

  100% {
    transform: scale(1);
  }
}
