:root {
  font-family: Inter, sans-serif;

  // colors
  --body-bg-color: #101116;
  --text-color: white;
  --text-color-subtle: #ffffffc1;
  --text-color-disabled: hsl(0, 0%, 60%);

  --icon-color-disabled: hsl(0, 0%, 60%);

  --button-bg-color: #5e585a;
  --card-bg-color: rgba(255, 255, 255, 0.1);
}
