:root {
  // colors
  --body-bg-color: #101116;
  --body-bg-color-below: #000000;

  --text-color: white;
  --text-color-inverted: rgb(0, 0, 0);
  --text-color-subtle: hsla(0, 0%, 100%, 0.7);
  --text-color-slightly-transparent: rgba(255, 255, 255, 0.9);
  --text-color-disabled: hsl(0, 0%, 50%);
  --text-color-danger: #f08686;
  --text-color-success: #84db84;
  --text-color-warning: #efd583;

  --icon-color-disabled: hsl(0, 0%, 50%);

  --button-bg-color: #5e585a;
  --button-bg-subtle: hsla(0, 0%, 100%, 0.05);
  --popup-window-bg-color: #28292d;
  --card-bg-color: rgba(255, 255, 255, 0.1);
  --card-bg-color-subtle: #1a1b24;
  --modal-bg-color: hsla(0, 0%, 100%, 0.102);
  --divider-color: rgba(255, 255, 255, 0.08);

  --toast-bg-color: #1e1f27;

  --accent-color: #b2bfff;
  --text-accent-color: #7c92ff;
  --text-hightlight-accent-color: rgba(152, 169, 255, 0.15);

  --popover-bg-color: #28292d;
  --popover-item-bg-color: rgba(255, 255, 255, 0.075);
  --popover-item-bg-clicked: #212224;
  --popover-item-bg-hovered: #494b50;

  --dialog-bg-color: #1e1f27;
}
