:root {
  --navbar-height: calc((0.625 * 2rem) + 3rem);
  --navbar-bottom: 0.5rem;
  --main-max-width: 900px;

  --toasts-padding-bottom: calc(var(--navbar-height) + 1rem);

  --space-width: 0.55em;

  --material-easing: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (hover: none) {
  :root {
    --space-width: 0.6em;
  }
}
