:host {
  width: 7.5rem;
  display: inline-block;
}

.card {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 0.75rem;
}
.card.circle {
  text-align: center;
  .card__image-container {
    width: 7.5rem;
    aspect-ratio: 1 /1;
    overflow: hidden;
    border-radius: 50%;
    .card__image {
      width: 100%;
    }

    .card__image:not(.no-image) {
      margin-top: -10%;
    }
  }
}

.card__image {
  border-radius: 0.5rem;
  object-fit: cover;
}

.card__texts {
  overflow-y: hidden;
  display: grid;
  row-gap: 0.25rem;
}

.card__title {
  font-size: 1rem;
  color: var(--text-color);
  opacity: 100%;
  font-weight: 300;
}

.card__subtitle {
  font-size: 0.833rem;
  line-height: 1.1;
  opacity: 70%;
  font-weight: 600;
}

:host {
  --card-title-line-height: 1.25;
  --card-title-max-lines: 2;

  --card-subtitle-line-height: 1.25;
  --card-subtitle-max-lines: 10;
}

.card__title {
  max-height: calc(
    var(--card-title-max-lines) * 1em * var(--card-title-line-height)
  );
  line-height: var(--card-title-line-height);

  display: -webkit-box;
  overflow: hidden;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--card-title-max-lines);
  line-clamp: var(--card-title-max-lines);
}

.card__subtitle {
  max-height: calc(
    var(--card-subtitle-max-lines) * 1em * var(--card-subtitle-line-height)
  );
  line-height: var(--card-subtitle-line-height);

  display: -webkit-box;
  overflow: hidden;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--card-subtitle-max-lines);
  line-clamp: var(--card-subtitle-max-lines);
}

.card.circle .card__image-container.loading {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.05),
    rgba(200, 200, 200, 0.025),
    rgba(255, 255, 255, 0.05)
  );
  background-size: 200% 100%;
  animation: SkeletonFade 2s linear infinite;
}
