.tabs-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  width: min-content;
  margin: 0 auto;
  padding: 0.375rem 0.5rem;
  column-gap: 0.375rem;

  border-radius: 100px;
  background-color: var(--card-bg-color);
}

.tab {
  font-size: 0.75rem;
  padding: 0.375rem 0.5rem;
  border-radius: 100px;
  font-weight: 500;
  color: var(--text-color-disabled);

  &.active {
    background-color: white;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 600;
  }
}
