@for (tabGroup of PillTabsConfig | keyvalue; track tabGroup) {
  <div
    [ngClass]="
      tabGroup.key == 'navTabs'
        ? 'nav'
        : tabGroup.key == 'leftTabs1'
          ? 'left'
          : tabGroup.key == 'leftTabs2'
            ? 'left'
            : tabGroup.key == 'rightTabs1'
              ? 'right'
              : 'right'
    "
    class="tab-group"
  >
    @for (tabItem of tabGroup.value?.tabs; let i = $index; track tabItem) {
      @if (
        isVisibleOnRoutes(tabItem.visibleOn) &&
        (!tabItem.visibleIf || isVisibleIf(tabItem.visibleIf))
      ) {
        <div
          [id]="tabItem.id ? tabItem.id : ''"
          class="tab-container"
          [class]="tabItem.isSelected && tabItem.isSelected() ? 'selected' : ''"
          [routerLink]="tabItem.routerLinkPath"
          [routerLinkActive]="'active'"
          (click)="
            handleTabClick(tabItem.callback, i, tabGroup.key === 'navTabs')
          "
        >
          @if (
            tabGroup.value &&
            isInTabTypes(["icon"], tabGroup.value.buttonContent)
          ) {
            <div class="tab tab--icon">
              <img
                [src]="
                  tabItem.isSelected && tabItem.isSelected()
                    ? tabItem.iconPathActive
                    : tabItem.iconPathDisabled
                "
                alt=""
              />
            </div>
          }

          @if (
            tabGroup.value &&
            isInTabTypes(["text"], tabGroup.value.buttonContent)
          ) {
            <div class="tab tab--text">
              {{ tabItem.text }}
            </div>
          }

          @if (
            tabGroup.value &&
            isInTabTypes(["dynamic-text"], tabGroup.value.buttonContent) &&
            tabItem.dynamicText
          ) {
            <div class="tab tab--text">
              {{ getTruncatedText(tabItem.dynamicText()) }}
            </div>
          }

          @if (
            tabGroup.value &&
            isInTabTypes(
              ["dynamic-text-then-icon", "icon-then-dynamic-text"],
              tabGroup.value.buttonContent
            ) &&
            tabItem.dynamicText
          ) {
            <div class="tab--text-and-icon">
              <div class="tab tab--text">
                {{ getTruncatedText(tabItem.dynamicText()) }}
              </div>
              <div class="tab tab--icon">
                <img
                  [src]="
                    tabItem.isSelected && tabItem.isSelected()
                      ? tabItem.iconPathActive
                      : tabItem.iconPathDisabled
                  "
                  alt=""
                />
              </div>
            </div>
          }
        </div>
      }
    }
  </div>
}
