<ng-container *ngFor="let tabGroup of PillTabsConfig | keyvalue">
  <div
    [ngClass]="
      tabGroup.key == 'navTabs'
        ? 'nav'
        : tabGroup.key == 'leftTabs1'
        ? 'left'
        : tabGroup.key == 'leftTabs2'
        ? 'left'
        : tabGroup.key == 'rightTabs1'
        ? 'right'
        : 'right'
    "
    class="tab-group"
  >
    <ng-container *ngFor="let tabItem of tabGroup.value?.tabs; let i = index">
      <div
        [id]="tabItem.id ? tabItem.id : ''"
        class="tab-container"
        *ngIf="
          isVisibleOnRoutes(tabItem.visibleOn) &&
          (!tabItem.visibleIf || isVisibleIf(tabItem.visibleIf))
        "
        [class]="tabItem.isSelected && tabItem.isSelected() ? 'selected' : ''"
        [routerLink]="tabItem.routerLinkPath"
        [routerLinkActive]="'active'"
        (click)="
          handleTabClick(tabItem.callback, i, tabGroup.key === 'navTabs')
        "
      >
        <div
          *ngIf="
            tabGroup.value &&
            isInTabTypes(['icon'], tabGroup.value.buttonContent)
          "
          class="tab tab--icon"
        >
          <img
            [src]="
              tabItem.isSelected && tabItem.isSelected()
                ? tabItem.iconPathActive
                : tabItem.iconPathDisabled
            "
            alt=""
          />
        </div>

        <div
          *ngIf="
            tabGroup.value &&
            isInTabTypes(['text'], tabGroup.value.buttonContent)
          "
          class="tab tab--text"
        >
          {{ tabItem.text }}
        </div>

        <div
          *ngIf="
            tabGroup.value &&
            isInTabTypes(['dynamic-text'], tabGroup.value.buttonContent) &&
            tabItem.dynamicText
          "
          class="tab tab--text"
        >
          {{ getTruncatedText(tabItem.dynamicText()) }}
        </div>

        <div
          class="tab--text-and-icon"
          *ngIf="
            tabGroup.value &&
            isInTabTypes(
              ['dynamic-text-then-icon', 'icon-then-dynamic-text'],
              tabGroup.value.buttonContent
            ) &&
            tabItem.dynamicText
          "
        >
          <div class="tab tab--text">
            {{ getTruncatedText(tabItem.dynamicText()) }}
          </div>
          <div class="tab tab--icon">
            <img
              [src]="
                tabItem.isSelected && tabItem.isSelected()
                  ? tabItem.iconPathActive
                  : tabItem.iconPathDisabled
              "
              alt=""
            />
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>
