.title-cards-section {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 1rem;
}

.container {
  position: relative;
}

.container:hover app-scroll-buttons,
app-scroll-buttons:hover {
  opacity: 100%;
  pointer-events: all;
}

app-scroll-buttons {
  transition: all 0.1s ease-in-out;
  pointer-events: none;
  opacity: 0%;
}

.subcontainer {
  display: inline-flex;
  flex-flow: row nowrap;
  column-gap: 1rem;
  overflow-x: scroll;
  width: 100%;
  scrollbar-color: transparent transparent;
  scrollbar-width: none;
}
