.title-cards-section {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 1rem;
}

.container {
  position: relative;
}

.container:hover app-scroll-buttons,
app-scroll-buttons:hover {
  opacity: 100%;
  pointer-events: all;
}

app-scroll-buttons {
  transition: all 0.1s ease-in-out;
  pointer-events: none;
  opacity: 0%;
  z-index: 100;
}

.subcontainer {
  z-index: 99;
  display: inline-flex;
  flex-flow: row nowrap;
  column-gap: 1.5rem;
  overflow-x: scroll;
  width: 100%;
  scrollbar-color: transparent transparent;
  scrollbar-width: none;
}

// @media (hover: none) {
//   .subcontainer {
//     scroll-snap-type: x mandatory;
//   }
//   app-media-card:nth-of-type(2n + 1) {
//     scroll-snap-align: start;
//     scroll-snap-stop: always;
//   }
// }
