<div class="title-cards-section">
  <app-section-title [props]="sectionTitleOptions"></app-section-title>
  <div class="container">
    <app-scroll-buttons
      [numberOfItems]="props.titles.length"
      [containerElement]="cardsContainer"
      [positionValues]="{ top: '30%', left: '0' }"
    ></app-scroll-buttons>
    <div #cardsContainer class="subcontainer clickable-cards">
      @for (title of props.titles; track title.id; let i = $index) {
        <app-media-card [index]="i" [props]="title"></app-media-card>
      }
    </div>
  </div>
</div>
