:host {
  max-width: 450px;
  margin: 0 auto;
  height: 100%;
  z-index: 10000;
  position: fixed;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  top: 2rem;
  left: 0;
  right: 0;

  pointer-events: none;
  border: 1px solid red;
}

.toasts-container {
  padding: 0 0.5rem;
  height: 100%;
  pointer-events: none;
  border: 1px solid green;
  position: relative;

  & > * {
    margin: 0 auto;
    pointer-events: all;
  }
}
