<div class="search__header">
  <!-- <app-header-button [props]="backButtonProps"> </app-header-button> -->

  <app-search-bar
    [defaultValue]="defaultSearchValue"
    (search)="triggerSearch($event)"
  ></app-search-bar>
</div>

<div class="search__main" pill-tab-parent>
  <div class="tabs-container">
    <!-- filler tab to key the main tab centered -->
    <div class="filler-tab"></div>

    <app-pill-indexed-tabs
      class="main-tabs"
      [props]="pillTabsProps"
    ></app-pill-indexed-tabs>

    <div class="secondary-tabs"></div>
  </div>

  <div class="search__results clickable-cards" pill-tab-component-transition>
    @switch (searchPageService.searchPreferences.searchType()) {
      @case ("all") {
        @for (
          entity of searchPageService.allSearchResults.results;
          track entity.id
        ) {
          @if (searchPageService.isMediaResultCardProps(entity)) {
            <app-media-result-card [props]="entity"></app-media-result-card>
          } @else {
            <app-person-result-card [props]="entity"></app-person-result-card>
          }
        }
      }

      @case ("movie") {
        @for (
          movie of searchPageService.movieSearchResults.results;
          track movie.id
        ) {
          <app-media-result-card [props]="movie"></app-media-result-card>
        }
      }

      @case ("series") {
        @for (
          series of searchPageService.seriesSearchResults.results;
          track series.id
        ) {
          <app-media-result-card [props]="series"></app-media-result-card>
        }
      }

      @case ("person") {
        @for (
          person of searchPageService.peopleSearchResults.results;
          track person.id
        ) {
          <app-person-result-card [props]="person"></app-person-result-card>
        }
      }
    }

    <div #bottomIntersectionElement></div>
  </div>

  <div class="categories"></div>
</div>
