.popover__parent-container {
  z-index: 100000;
  position: absolute;
  inset: 0;
  pointer-events: none;

  &.closed {
    opacity: 0;
  }

  &.open {
    opacity: 100%;
  }
}

.popover__arrow {
  background-color: var(--popover-bg-color);
}

.popover__parent-container.closed .popover {
  pointer-events: none;
}

.popover {
  pointer-events: all;
  position: absolute;
  width: max-content;
  height: auto;
  background-color: var(--popover-bg-color);
}
