.title-details {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 1rem;
  min-height: 200vh;
}

router-outlet > * {
  /* Target the direct child of router-outlet */
  display: block; /* Ensure the content is displayed as a block element */
}
