<div
  [id]="props.id"
  tabindex="1"
  role="headerButtonProps"
  class="header__button"
  [class]="
    props.type === 'text' ? 'header__button--text' : 'header__button--icon'
  "
  (click)="callOnClickCallbackFn(props.onClickCallbackFn)"
>
  @if (props.type === "icon") {
    <img [src]="this.extractStringService.extract(props.iconPath)" alt="" />
  }
  @if (props.type === "text") {
    <p class="header__button-label-text">
      {{ this.extractStringService.extract(props.text) }}
    </p>
  }
</div>
