:host {
  width: 100%;

  display: flex;
  flex-flow: column nowrap;
}

.search__header {
  z-index: 10000;
  top: 0;
  position: sticky;
  gap: 1rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  border-bottom: 1px solid var(--divider-color);
  padding: 1rem;

  background-color: rgba(var(--body-bg-color-rgb), 0.9);
  // border: 1px solid red;

  & app-search-bar {
    max-width: 500px;
    margin: 0 auto;
  }
}

.tabs-container {
  z-index: 9999;
  position: sticky;
  background-color: rgba(var(--body-bg-color-rgb), 0.9);
  padding: 1rem 0;

  top: 72px;
  margin: 0 auto;
  width: 100%;
  display: flex;

  overflow: hidden;

  display: grid;
  grid-template-areas: "left-sec prim right-sec";
  grid-template-columns: minmax(auto, 1fr) auto 1fr;

  .filler-tab {
    grid-area: left-sec;
    margin-right: 0.45rem;
  }

  app-pill-indexed-tabs.main-tabs {
    overflow-x: auto;
    border-radius: 1000px;

    scrollbar-width: thin;
    grid-area: prim;
  }

  .secondary-tabs {
    grid-area: right-sec;
    margin-left: 0.5rem;
  }
}

.search__main {
  margin-bottom: calc(var(--navbar-height) + var(--navbar-bottom));

  display: flex;
  flex-flow: column nowrap;
}

.search__results {
  padding: 0 1rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.results-skeleton-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.category-chips-container {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  margin: 0 auto;
  width: 100%;
  max-width: 500px;
}

@media (max-width: 376px) {
  .tabs-container {
    top: 63px;
  }
}
