:host {
  background-color: #242528;
  border-radius: 1000px;
}

circle {
  fill: none;
  stroke-width: 2.5px;
}

circle.fg {
  transform: rotate(-90deg);
  transform-origin: center;
  stroke-linecap: round;

  stroke-dasharray: 100;

  stroke: transparent;

  transition: stroke-dashoffset 1.5s ease-out;

  &.green {
    stroke: hsl(120, 78%, 73%);
  }

  &.yellow-green {
    stroke: #bddb84;
  }

  &.yellow {
    stroke: #efd683;
  }

  &.red {
    stroke: #f08686;
  }
}

circle.bg {
  fill: none;

  stroke: #101010;

  &.green {
    stroke: #031703;
  }

  &.yellow-green {
    stroke: #0f1406;
  }

  &.yellow {
    stroke: #171203;
  }
  &.red {
    stroke: #170303;
  }
}

text {
  transform-origin: center;
  text-anchor: middle;
  font-size: 0.85em;
  font-weight: 600;
  fill: white;
  opacity: 85%;

  &.no-rating {
    opacity: 65%;
  }
}
