:host {
  --card-title-line-height: 1.25;
  --card-title-max-lines: 2;

  --card-subtitle-line-height: 1.25;
  --card-subtitle-max-lines: 10;
}

.card {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 0.75rem;
}

.card__image-container {
  aspect-ratio: 2/3;
  width: 7.5rem;
  border-radius: 0.5rem;
  background-color: var(--card-bg-color);
}

.card__image {
  object-fit: cover;
  aspect-ratio: 2/3;
  width: 7.5rem;
  border-radius: 0.5rem;
}

.card__texts {
  overflow-y: hidden;
  display: grid;
  row-gap: 0.25rem;
}

.card__title {
  font-size: 1rem;
  color: var(--text-color);

  font-weight: 300;
  opacity: 90%;
}

.card__title {
  max-height: calc(
    var(--card-title-max-lines) * 1em * var(--card-title-line-height)
  );
  line-height: var(--card-title-line-height);

  display: -webkit-box;
  overflow: hidden;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--card-title-max-lines);
  line-clamp: var(--card-title-max-lines);
}

.card__image-container {
  position: relative;

  app-rating-donut {
    border-radius: 1000px;
    content: "";
    position: absolute;
    bottom: -15px;
    right: -15px;
    width: 40px;
    height: 40px;
    transition: all linear 300ms;
  }
}

@media (max-width: 600px) {
  .card {
    width: 8rem;
  }

  .card__image {
    width: 8rem;
  }
}
