<!-- <div class="seasons-cotainer" *ngFor="let season of seasons">
  <app-episode-group
    *ngIf="selectedSeason == season.name"
    [seasonData]="season"
  ></app-episode-group>
</div> -->
<!-- <app-popup-or-bottom-sheet
  [popUpOrBottomSheetConfig]="seasonPickerConfig"
></app-popup-or-bottom-sheet> -->

<div class="seasons-cotainer">
  @if (isLoading) {
    <div class="episode-group-skeleton-container">
      <div class="episode-group-skeleton-header"></div>
      @for (i of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]; track i) {
        <app-episode-card-skeleton></app-episode-card-skeleton>
      }
    </div>
  } @else {
    <app-episode-group
      *ngIf="selectedSeason == seasonData.name"
      [seasonData]="seasonData"
    ></app-episode-group>
  }
</div>
<app-popup-or-bottom-sheet
  [props]="seasonPickerConfig"
></app-popup-or-bottom-sheet>
