<div class="hero">
  <app-scroll-buttons
    [numberOfItems]="props.length"
    [containerElement]="cardsContainer"
    [positionValues]="{ top: '40%', left: '1rem', right: '1rem' }"
  ></app-scroll-buttons>
  <div
    #cardsContainer
    class="hero__cards-container clickable-cards"
    id="hero__cards-container"
  >
    <div class="hero-card-filler"></div>

    @for (title of props; track title; let i = $index) {
      <app-hero-card
        class="big-card"
        [cardIndex]="i"
        [props]="title"
      ></app-hero-card>
    }

    <div class="hero-card-filler"></div>
  </div>
  <div class="page-indicator-container">
    @for (title of props; track title; let i = $index) {
      <div
        class="dot"
        [id]="'hero-dot--' + i"
        [ngClass]="indexOfFullyVisibleCard === i ? 'active' : ''"
      ></div>
    }
  </div>
</div>
