.ratings-section {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 1rem;
}

.ratings-section__ratings-container {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 0.75rem;
  overflow-x: auto;

  scrollbar-color: transparent transparent;
  scrollbar-width: none;
}

.ratings-section__rating {
  flex-shrink: 0;
  display: flex;
  flex-flow: row nowrap;
  background-color: var(--card-bg-color-subtle);
  column-gap: 0.5rem;
  padding: 0.75rem 1rem;
  border-radius: 4rem;

  align-items: center;

  .ratings-section__logo {
    height: 1.25rem;
  }
  .ratings-section__rating-value {
    font-weight: 500;
    font-size: 1rem;
  }
}
