@if (dialogProps.config.isBackdropEnabled) {
  <div
    #backdrop
    class="dialog__backdrop"
    [class]="
      dialogProps.config.isOpenSig() == null
        ? ''
        : dialogProps.config.isOpenSig()
          ? 'open'
          : 'closed'
    "
  ></div>
}

<div
  #dialog
  class="dialog"
  [class]="
    dialogProps.config.isOpenSig() == null
      ? ''
      : dialogProps.config.isOpenSig()
        ? 'open'
        : 'closed'
  "
>
  <div class="dialog__main-content-container">
    @if (dialogProps.mainContent.iconPath; as iconPath) {
      <img [src]="iconPath" alt="" class="dialog__icon" />
    }
    <h4 class="dialog__title">
      {{ this.extractStringService.extract(dialogProps.mainContent.title) }}
    </h4>

    @if (dialogProps.mainContent.textItems; as textItems) {
      <ul class="dialog__text-items-container">
        @for (textItem of textItems; track textItem.toString()) {
          <li class="dialog__text-item">
            @if (textItems.length > 1) {
              <div class="dialog__text-item-bullet">•</div>
            }
            <p class="dialog__text-item-text">
              {{ this.extractStringService.extract(textItem) }}
            </p>
          </li>
        }
      </ul>
    }
  </div>
  <div class="dialog__buttons-container">
    @if (dialogProps.buttons.secondary; as secondaryButton) {
      <div
        #secondaryButton
        tabindex="0"
        role="button"
        (keydown.enter)="onSecondaryButtonClicked()"
        class="dialog__button secondary"
        [class]="
          secondaryButton.isBusySig()
            ? 'disabled'
            : secondaryButton.isHiddenSig()
              ? 'hidden'
              : ''
        "
        (click)="onSecondaryButtonClicked()"
      >
        @if (secondaryButton.isBusySig()) {
          <app-loading-dots [dotsCount]="3"></app-loading-dots>
        } @else {
          {{ this.extractStringService.extract(secondaryButton.label) }}
        }
      </div>
    }

    @if (dialogProps.buttons.primary; as primaryButton) {
      <div
        #primaryButton
        tabindex="0"
        role="button"
        (keydown.enter)="onPrimaryButtonClicked()"
        class="dialog__button primary"
        (click)="onPrimaryButtonClicked()"
        [class]="
          primaryButton.isBusySig()
            ? 'disabled' + primaryButton.type
            : primaryButton.isHiddenSig()
              ? 'hidden' + primaryButton.type
              : primaryButton.type
        "
      >
        @if (primaryButton.isBusySig()) {
          <app-loading-dots [dotsCount]="3"></app-loading-dots>
        } @else {
          {{ this.extractStringService.extract(primaryButton.label) }}
        }
      </div>
    }
  </div>
</div>
