<app-dialog [dialogProps]="createAccountSuccessDialogProps"></app-dialog>
<app-dialog [dialogProps]="confirmSetUsernameDialogProps"></app-dialog>
<app-dialog [dialogProps]="skipUsernameDialogProps"></app-dialog>

@if (!isAccountCreationSuccessful()) {
  <div class="username-setting">
    <div class="username-setting__header">
      <app-progress-indicator
        [progressIndicatorProps]="progressIndicatorProps"
      ></app-progress-indicator>
    </div>

    <div class="username-setting__main">
      <div class="username-setting__header-container">
        <h1 class="username-setting__title">Set your username</h1>
        <img
          [src]="
            userDisplayPhotoURLSig() ||
            'assets/icons/login/illustration-temp.svg'
          "
          alt=""
          width="130px"
          height="130px"
          class="username-setting__avatar"
        />
      </div>

      <form
        class="username-setting__section username-setting__form-container"
        [formGroup]="setUsernameForm"
      >
        <div class="field">
          <label for="username" class="label">USERNAME</label>

          <div class="username-input-and-checker-container">
            <input
              placeholder="Enter a unique username"
              type="text"
              class="username-input"
              formControlName="username"
              maxlength="25"
            />

            <div class="username-setting__username-character-checker">
              <p>
                @for (
                  charCheck of usernameInvalidCharactersChecker();
                  let i = $index;
                  track i
                ) {
                  <span
                    class="login__password-char"
                    [class]="charCheck.invalid ? 'invalid' : ''"
                    >{{ charCheck.char }}</span
                  >
                }
              </p>
              <p class="chars-right-padding"></p>
            </div>
          </div>

          <div class="form__error-messages-container">
            @for (error of usernameErrorMessages(); let i = $index; track i) {
              <p
                [class]="isUsernamePatternInvalid() ? '' : 'no-error'"
                class="form__error-message"
              >
                {{ error }}
              </p>
              <p class="form__error-message">
                {{ authErrorMessageSig().username }}
              </p>
            }
            <p class="form__error-message">
              <!-- {{ ErrorMessagesSig().username }} -->
            </p>
          </div>
        </div>

        <div class="field buttons">
          <button
            (click)="onSkip()"
            id="skip-username-setting-button"
            class="skip-username-setting-button"
          >
            Skip
          </button>
          <button
            (click)="onSetUsernameButtonClicked()"
            id="username-setting-button"
            [class]="isSetUsernameButtonDisabled() ? 'disabled' : ''"
            class="username-setting-button"
          >
            Set username
          </button>
        </div>
      </form>
    </div>
  </div>
}
