.dialog {
  border: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
}

.dialog__backrop {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.dialog__arrow-and-items-container {
  position: absolute;
  opacity: 100%;
  bottom: 0;
  width: 100%;
  display: grid;

  filter: drop-shadow();
  background-color: var(--popup-window-bg-color);
  border-radius: 1rem 1rem 0rem 0rem;
  padding: 1rem;
}

.dialog__arrow-down-button {
  place-self: center;
  transform: rotate(180deg);
  height: 0.75rem;
  margin-top: 0.25rem;
  margin-bottom: 1.25rem;
}

.dialog__popup-pointer {
  display: none;
}

ul.dialog__items-container {
  overflow-y: auto;
  max-height: 50vh;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 0.5rem;

  &:focus {
    border: none;
    outline: none;
  }

  li.dialog__item {
    border-radius: 10000px;
    width: 100%;
    padding: 0.75rem 0.75rem;
    list-style-type: none;
    text-align: center;
    color: var(--text-color-disabled);

    &.selected {
      font-weight: 700;
      background-color: white;
      color: var(--text-color-inverted);
    }
  }
}

@media (min-width: 480px) {
  .dialog {
    width: 100%;
  }

  .dialog__backrop {
    background-color: transparent;
    position: fixed;
    width: 100%;
    height: 100%;
  }

  .dialog__arrow-and-items-container {
    filter: drop-shadow(0 0 3px black);
    z-index: 1000;
    border-radius: 2rem;
    bottom: unset;
    right: 8.8rem;
    top: 34.15rem;
    width: 250px;
    padding: 1rem;

    .dialog__popup-pointer {
      top: -2rem;
      left: 50%;
      margin-left: -1.25rem;
      display: grid;
      height: 2rem;
      position: absolute;
    }

    ul.dialog__items-container {
      border-radius: 1rem;
      max-height: 400px;
      height: 100%;
    }

    .dialog__arrow-down-button {
      display: none;
    }

    li.dialog__item {
      text-wrap: nowrap;
    }
  }
}
