<dialog #dialog class="dialog fullscreen-dialog">
  <div class="dialog__backrop" (click)="hideDialog()"></div>
  <div class="dialog__arrow-and-items-container">
    <img
      src="assets/icons/Arrow.svg"
      alt=""
      class="dialog__arrow-down-button"
    />
    <ul class="dialog__items-container">
      <li class="dialog__item selected">Specials</li>
      <li class="dialog__item">Season 1</li>
      <li class="dialog__item">Season 2</li>
      <li class="dialog__item">Season 3</li>
      <li class="dialog__item">Season 4</li>
      <li class="dialog__item">Season 5</li>
      <li class="dialog__item">Season 6</li>
      <li class="dialog__item">Season 7</li>
      <li class="dialog__item">Season 8</li>
      <li class="dialog__item">Season 9</li>
      <li class="dialog__item">Season 10</li>
      <li class="dialog__item">Season 11</li>
      <li class="dialog__item">Season 12</li>
      <li class="dialog__item">Season 13</li>
      <li class="dialog__item">Season 14</li>
      <li class="dialog__item">Season 15</li>
    </ul>
  </div>
</dialog>
