<div #dialog class="dialog fullscreen-dialog">
  <div class="dialog__backrop"></div>

  <div class="dialog__arrow-and-items-container">
    <img
      src="assets/icons/popups/Popup-tip.svg"
      alt=""
      class="dialog__popup-pointer"
    />
    <img
      src="assets/icons/Arrow.svg"
      alt=""
      class="dialog__arrow-down-button"
    />
    <ul class="dialog__items-container">
      <li
        (click)="item.callback()"
        *ngFor="let item of popupOrBottomSheetConfig.items"
        class="dialog__item"
        [ngClass]="item.isSelected() ? 'selected' : ''"
      >
        {{ item.textContent }}
      </li>
    </ul>
  </div>
</div>
