<dialog #dialog class="dialog fullscreen-dialog">
  <div class="dialog__backrop" (click)="hideDialog()"></div>

  <div class="dialog__arrow-and-items-container">
    <img
      src="assets/icons/popups/Popup-tip.svg"
      alt=""
      class="dialog__popup-pointer"
    />
    <img
      src="assets/icons/Arrow.svg"
      alt=""
      class="dialog__arrow-down-button"
    />
    <ul class="dialog__items-container">
      <li class="dialog__item selected">Season 1</li>
      <li class="dialog__item">Season 2</li>
    </ul>
  </div>
</dialog>
