:host {
  --episode-global-padding: 0.75rem;
  --episode-thumbnail-height: 148px;
}

.episode-group {
  padding: 0.5rem 1rem;
  display: flex;
  flex-flow: column nowrap;
}

.epsode-group__header {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0.5rem 0 0.5rem 0rem;
  margin-bottom: 0.5rem;

  .episode-group__main-info-container {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 0.75rem;
    align-items: center;

    .epsode-group__season-title {
      font-size: 1.2rem;
    }
  }

  .episode-group-arrow-icon {
    grid-area: arr;
  }
}

.episode-group__episode-cards-container {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 1rem;
}

.epsode-group__header.sticky {
  background-color: var(--body-bg-color);
  opacity: 95%;
  z-index: 996;
  position: sticky;
  top: calc(3.98rem + 38.4px + 1rem);
}

@media (max-width: 376px) {
  .epsode-group__header.sticky {
    top: calc(3.98rem + 33.6px + 1rem);
  }
}
