<app-loading-modal
  [loadingModalProps]="registrationLoadingModalProps"
></app-loading-modal>

<div class="login__socials-container">
  <div
    (click)="loginWithGoogle()"
    (keydown.enter)="loginWithGoogle()"
    role="button"
    tabindex="0"
    class="login__social-login-button login__button--google"
  >
    <img
      src="/assets/icons/login/google-logo.svg"
      alt=""
      class="login__button-logo"
      width="24px"
      height="24px"
    />
    <p class="login__button-label">Google</p>
  </div>
  <div
    tabindex="0"
    role="button"
    class="login__social-login-button login__button--facebook disabled"
  >
    <img
      src="assets/icons/login/facebook-logo.svg"
      alt=""
      class="login__button-logo"
      width="24px"
      height="24px"
    />
    <p class="login__button-label">Facebook</p>
  </div>
</div>
