<div class="scroll-buttons-container">
  <div
    class="scroll-button scroll-button--left"
    [style]="'top:' + positionValues.top + ';left:' + positionValues.left"
  >
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 7.44">
      <path
        id="arrow_down_expanded"
        data-name="arrow down expanded"
        class="cls-1"
        d="M6.44,7.44a1,1,0,0,1-.71-.29L.29,1.71A1,1,0,0,1,1.71.29L6.45,5,11.3.29a1,1,0,1,1,1.4,1.42L7.14,7.16A1,1,0,0,1,6.44,7.44Z"
      ></path>
    </svg>
  </div>

  <div
    class="scroll-button scroll-button--right"
    [style]="'top:' + positionValues.top + ';right:' + positionValues.right"
  >
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 7.44">
      <path
        id="arrow_down_expanded"
        data-name="arrow down expanded"
        class="cls-1"
        d="M6.44,7.44a1,1,0,0,1-.71-.29L.29,1.71A1,1,0,0,1,1.71.29L6.45,5,11.3.29a1,1,0,1,1,1.4,1.42L7.14,7.16A1,1,0,0,1,6.44,7.44Z"
      ></path>
    </svg>
  </div>
</div>
