.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.header__button {
  width: 2rem;
  aspect-ratio: 1/1;
  font-size: 1.5rem;
}

.header__text {
  font-size: 1.5rem;
  font-weight: 600;
}

img {
  width: 100%;
}
