<div class="header">
  @for (button of headerButtons; track button; let buttonIndex = $index) {
    <!-- if button opens external link -->
    @if (button.anchor?.urlType === 'external' && !button.actionCallback) {
      <a
        [id]="button.id"
        tabindex="1"
        [href]="button.anchor?.path"
        rel="noopener noreferrer"
        [target]="button.anchor?.target"
        class="header__button"
        [class]="button.type === 'text' ? 'header__button--text' : ''"
        >
        @if (button.type === 'icon' || button.type === 'iconWithBG') {
          <img
            [src]="getIconPath(button.iconPath)"
            alt=""
            />
        }
        @if (button.type === 'text') {
          <p class="header__button-label-text">
            {{ button.text }}
          </p>
        }
      </a>
    }
    <!-- if button opens internal link/route -->
    @if (button.anchor?.urlType === 'internal' && !button.actionCallback) {
      <a
        [id]="button.id"
        tabindex="1"
        [routerLink]="button.anchor?.path"
        class="header__button"
        [class]="button.type === 'text' ? 'header__button--text' : ''"
      [ngClass]="
        button.type === 'iconWithBG' ? 'header__button--icon-with-bg' : ''
      "
        >
        @if (button.type === 'icon' || button.type === 'iconWithBG') {
          <img
            [src]="getIconPath(button.iconPath)"
            alt=""
            />
        }
        @if (button.type === 'text') {
          <p class="header__button-label-text">
            {{ button.text }}
          </p>
        }
      </a>
    }
    <!-- if button is callback calling button -->
    @if (button.actionCallback) {
      <div
        [id]="button.id"
        tabindex="1"
        role="button"
        class="header__button"
      [ngClass]="
        button.type === 'iconWithBG' ? 'header__button--icon-with-bg' : ''
      "
        (click)="button?.actionCallback()"
        >
        @if (button.type === 'iconWithBG' || button.type === 'icon') {
          <img
            [src]="getIconPath(button.iconPath)"
            alt=""
            />
        }
        @if (button.type === 'text') {
          <p class="header__button-label-text">
            {{ button.text }}
          </p>
        }
      </div>
    }
    <!-- if button is not a callback or routerlink button -->
    @if (!button.actionCallback && !button.anchor) {
      <div
        [id]="button.id"
        tabindex="1"
        role="button"
        class="header__button"
      [ngClass]="
        button.type === 'iconWithBG' ? 'header__button--icon-with-bg' : ''
      "
        >
        @if (button.type === 'iconWithBG' || button.type === 'icon') {
          <img
            [src]="getIconPath(button.iconPath)"
            alt=""
            />
        }
        @if (button.type === 'text') {
          <p class="header__button-label-text">
            {{ button.text }}
          </p>
        }
      </div>
    }
  }
</div>
