<div class="header">
  <ng-container *ngFor="let button of headerButtons; let buttonIndex = index">
    <!-- if button opens external link -->
    <a
      *ngIf="button.anchor?.urlType === 'external' && !button.actionCallback"
      [href]="button.anchor?.path"
      rel="noopener noreferrer"
      [target]="button.anchor?.target"
      class="header__button"
      [class]="button.type === 'text' ? 'header__button--text' : ''"
    >
      <img
        *ngIf="button.type === 'icon' || button.type === 'iconWithBG'"
        [src]="button.iconPath"
        alt=""
      />
      <p class="header__button-label-text" *ngIf="button.type === 'text'">
        {{ button.text }}
      </p>
    </a>

    <!-- if button opens internal link/route -->
    <a
      *ngIf="button.anchor?.urlType === 'internal' && !button.actionCallback"
      [routerLink]="button.anchor?.path"
      class="header__button"
      [class]="button.type === 'text' ? 'header__button--text' : ''"
      [ngClass]="
        button.type === 'iconWithBG' ? 'header__button--icon-with-bg' : ''
      "
    >
      <img
        *ngIf="button.type === 'icon' || button.type === 'iconWithBG'"
        [src]="button.iconPath"
        alt=""
      />
      <p class="header__button-label-text" *ngIf="button.type === 'text'">
        {{ button.text }}
      </p>
    </a>

    <!-- if button is callback calling button -->
    <div
      role="button"
      *ngIf="button.actionCallback"
      class="header__button"
      [ngClass]="
        button.type === 'iconWithBG' ? 'header__button--icon-with-bg' : ''
      "
      (click)="button?.actionCallback()"
    >
      <img
        *ngIf="button.type === 'iconWithBG'"
        [src]="button.iconPath"
        alt=""
      />
      <p class="header__button-label-text" *ngIf="button.type === 'text'">
        {{ button.text }}
      </p>
    </div>
  </ng-container>
</div>

<!-- callback action button not implemented yet -->
