<div class="parent-container" #parentContainer>
  <div class="header-and-tabs-container">
    <div class="header">
      <h4>Lists</h4>
      <app-pill-indexed-tabs
        [props]="pillTabProps"
        [parentContainer]="parentContainer"
        [overflowClipper]="overflowClipper"
        [viewsContainer]="viewsContainer"
      ></app-pill-indexed-tabs>
      <app-header-button [props]="headerButtonsProps[0]"></app-header-button>
    </div>
  </div>

  <div #overflowClipper class="overflow-clipper">
    <div #viewsContainer class="lists-container">
      @if (listSource() === "personal") {
        Personal lists is coming soon.
      } @else {
        Community lists is coming soon.
      }
    </div>
  </div>
</div>
