@use "./styles/functions";
@use "./styles/colors";
@use "./styles/reset";
@use "./styles/variables";

:root {
  --main-max-width: 900px;
}

/* ---remove the blue touch highlight for touchscreens--- */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 16px;
}

* {
  color: var(--text-color);
}

body {
  background-color: var(--body-bg-color);
}

main {
  max-width: var(--main-max-width);
  margin: 0 auto;
}

@media (max-width: 360px) {
  html {
    font-size: 14px;
  }
}
