<app-buttons-header
  class="with-padding"
  [headerButtons]="headerButtons"
></app-buttons-header>
<div class="home__main">
  <app-hero-cards></app-hero-cards>
  <app-cards-section
    [entities]="movies"
    [cardsSectionOptions]="{
      sectionTitle: 'Movies',
      buttonProps: {
        type: 'text',
        textOrIconPath: 'See all',
        callback: sampleCallback
      }
    }"
  ></app-cards-section>

  <app-cards-section
    [entities]="series"
    [cardsSectionOptions]="{
      sectionTitle: 'TV Series',
      buttonProps: {
        type: 'text',
        textOrIconPath: 'See all',
        callback: sampleCallback
      }
    }"
    routerLink="/user"
  ></app-cards-section>

  <app-cards-section
    [entities]="persons"
    [cardsSectionOptions]="{
      sectionTitle: 'People',
      buttonProps: {
        type: 'text',
        textOrIconPath: 'See all',
        callback: sampleCallback
      },
      cardShape: 'circle'
    }"
  ></app-cards-section>
</div>
