.title__hero {
  position: relative;
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  height: 28rem;

  & *:not(.title__hero-backdrop) {
    z-index: 2;
  }

  overflow: hidden;
}

app-header-buttons {
  top: 0;
  width: 100vw;
  max-width: var(--main-max-width);
  z-index: 1003;
  position: fixed;
  filter: drop-shadow(0 0 3px rgb(0, 0, 0, 0.3));
}

.buttons-header-bg-and-title {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: var(--main-max-width);
  height: 4rem;
  padding: 0 4rem;

  z-index: 1000;
  background-color: rgba(var(--body-bg-color-rgb), 0.95);

  opacity: 0%;
  transition: opacity ease-out 0.175s;
  &.visible {
    opacity: 100%;
  }

  .title__hero--title-on-header {
    z-index: 1001;
    line-height: 4rem;
    text-align: left;
    font-size: 1.25rem;
    font-weight: 600;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.title__hero-backdrop {
  margin: -1rem;
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;

  &:not(.blurred) {
    opacity: 0%;
  }
}

.title__hero-backdrop.blurred {
  filter: blur(10px);

  opacity: 100%;
  transition: opacity 0.15s ease-out;

  &.hide {
    opacity: 0%;
  }
}

.title__hero-backdrop.poster-fallback {
  transform: scale(1.2);
}

.title__hero::before {
  margin: -1rem;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  background: linear-gradient(
    to top,
    var(--body-bg-color),
    transparent 75%,
    transparent
  );
}

.title__main-details-container {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  justify-content: flex-end;
  // padding-right: 8rem;
  height: 100%;
}

.title__poster {
  max-width: 6.25rem;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 0.7rem;
  filter: drop-shadow(0 0 0.5rem rgb(0, 0, 0, 0.5));
}

.title__title {
  line-height: 1.4;
  font-size: 1.44rem;
  font-weight: 700;
  margin-bottom: calc(1rem - 0.44rem);
  word-wrap: break-word;
}

@media (min-width: 600px) {
  .title__title {
    margin-right: 9rem;
  }

  .title__poster {
    max-width: 8rem;
    position: absolute;
    align-self: flex-end;
    margin-bottom: 0;
  }
}

.title__hero-backdrop.skeleton {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1),
    rgba(200, 200, 200, 0.05),
    rgba(255, 255, 255, 0.1)
  );
  background-size: 200% 100%;
  animation: SkeletonFade 2s linear infinite;
}
