<app-header-buttons
  class="with-padding"
  [headerButtons]="headerButtons"
></app-header-buttons>

<div
  class="buttons-header-bg-and-title"
  [class]="isHeaderBgAndTitleVisibleSig() ? 'visible' : ''"
>
  <h4 class="title__hero--title-on-header">
    {{ heroSectionData.title }}
  </h4>
</div>

<div class="title__hero" [ngClass]="isLoading ? 'loading' : ''">
  <img
    #backdrop
    [src]="
      'https://image.tmdb.org/t/p/' +
      getBackropWidth() +
      heroSectionData.backdrop_path
    "
    alt=""
    class="title__hero-backdrop"
  />
  <!-- 
  <div class="title__play-button-parent-container">
    <div class="title__play-button-container">
      <div class="title__play-button">
        <img
          src="assets/icons/header/Play.svg"
          alt=""
          class="title__play-icon"
        />
      </div>
      <p class="title__play-button__label">Watch Trailer</p>
    </div>
  </div> -->
  <div class="title__main-details-container">
    <h4 class="title__title">{{ heroSectionData.title }}</h4>
    <div class="title__metadataContainer">
      <p class="title__metadata">
        @if (heroSectionData.metadata.year) {
          <span class="title__metadata--year metadata-text">{{
            heroSectionData.metadata.year
          }}</span>
        }
        @if (heroSectionData.metadata.rating) {
          <span class="title__metadata--rating metadata-rating metadata-text">{{
            heroSectionData.metadata.rating
          }}</span>
        }
        @if (heroSectionData.metadata.runtimeOrSeasons) {
          <span class="title__metadata--rating metadata-text">{{
            heroSectionData.metadata.runtimeOrSeasons
          }}</span>
        }
      </p>
    </div>
    @if (heroSectionData.genres[0]) {
      <div class="title__genres-container">
        @for (genre of heroSectionData.genres; track genre.id) {
          <div class="title__genre">
            {{ genre.name }}
          </div>
        }
      </div>
    }
    <img
      [src]="'https://image.tmdb.org/t/p/w300' + heroSectionData.poster_path"
      alt=""
      class="title__poster"
    />
  </div>
</div>
