<app-header-buttons
  class="with-padding"
  [headerButtons]="headerButtons"
></app-header-buttons>

<div
  class="buttons-header-bg-and-title"
  [class.visible]="isHeaderBgAndTitleVisibleSig()"
>
  <h4 class="title__hero--title-on-header">
    {{ heroSectionData.title }}
  </h4>
</div>

<div class="title__hero">
  <img
    class="title__hero-backdrop loading"
    [src]="
      'https://image.tmdb.org/t/p/' +
      getBackropWidth() +
      heroSectionData.backdrop_path
    "
    [alt]="getBackdropAlt"
  />
  <div class="title__main-details-container">
    <img
      [src]="'https://image.tmdb.org/t/p/w300' + heroSectionData.poster_path"
      alt=""
      class="title__poster"
    />
    <h4 class="title__title">{{ heroSectionData.title }}</h4>
    <app-metadata></app-metadata>
    <app-genres [props]="genresProps"></app-genres>
  </div>
</div>
