<div class="header">
  @for (button of headerButtons; track button; let buttonIndex = $index) {
    <div
      [id]="button.id"
      tabindex="0"
      role="button"
      class="header__button"
      [class]="
        button.type === 'text' ? 'header__button--text' : 'header__button--icon'
      "
      (click)="callOnClickCallbackFn(button.onClickCallbackFn)"
      (keydown.enter)="callOnClickCallbackFn(button.onClickCallbackFn)"
    >
      @if (button.type === "icon") {
        <img
          [src]="this.extractStringService.extract(button.iconPath)"
          alt=""
        />
      }
      @if (button.type === "text") {
        <p class="header__button-label-text">
          {{ this.extractStringService.extract(button.text) }}
        </p>
      }
    </div>
  }
</div>
