<!-- For User Account Actions Menu -->
<app-user-actions-menu-popover></app-user-actions-menu-popover>
<!--  -->

<!-- For Dropdown Menu selection between Movies/TV shows/People -->
<app-popover-menu
  class="content-type-selection-popover"
  [props]="contentTypePopoverMenuProps"
></app-popover-menu>
<!--  -->

<div class="home" pill-tab-parent>
  <div class="home__mobile-and-tablet-header-nav">
    <!-- Logo -->
    <app-header-button [props]="headerButtonsProps[0]"></app-header-button>
    <!--  -->

    <!-- For Dropdown Menu selection between Movies/TV shows/People -->
    <app-dropdown-picker
      [props]="contentTypeDropdownTabProps"
    ></app-dropdown-picker>
    <!--  -->

    <!-- For Tabs selection between Movies/TV shows/People -->
    <app-pill-indexed-tabs [props]="pillTabProps"></app-pill-indexed-tabs>
    <!--  -->

    <!-- For User Account Actions Menu -->
    <app-header-button [props]="headerButtonsProps[1]"></app-header-button>
    <!--  -->
  </div>

  <div class="home-content" pill-tab-overflow-clipper>
    <div
      class="tabbed-components-container"
      pill-tab-component-transition
      component-transition
    >
      <!-- Combined Movies and Series Section -->
      @if (homeService.selectedContentTypeName() === "All") {
        @if (
          heroCardsTitlesPropsForMoviesAndSeries$ | async;
          as heroCardProps
        ) {
          @if (isHeroCardProps(heroCardProps)) {
            <app-hero-cards [props]="heroCardProps"></app-hero-cards>
          }
        }

        <ng-container
          *ngIf="moviesInTheatresProps$ | async as moviesInTheatresProps"
        >
          <ng-container *ngIf="moviesInTheatresProps">
            <app-media-cards-section
              [props]="moviesInTheatresProps"
            ></app-media-cards-section>
          </ng-container>
        </ng-container>
        <ng-container
          *ngIf="upcomingMoviesProps$ | async as upcomingMoviesProps"
        >
          <ng-container *ngIf="upcomingMoviesProps">
            <app-media-cards-section
              [props]="upcomingMoviesProps"
            ></app-media-cards-section>
          </ng-container>
        </ng-container>
        <ng-container
          *ngIf="moviesAndSeriesFromProvidersProps$ | async as providersProps"
        >
          <ng-container *ngFor="let providerProps of providersProps">
            <app-media-cards-section
              [props]="providerProps"
            ></app-media-cards-section>
          </ng-container>
        </ng-container>
      }
      <!-- Movies Section -->
      @if (homeService.selectedContentTypeName() === "Movies") {
        @if (heroCardsTitlesPropsForMovies$ | async; as heroCardProps) {
          @if (isHeroCardProps(heroCardProps)) {
            <app-hero-cards [props]="heroCardProps"></app-hero-cards>
          }
        }

        @if (moviesInTheatresProps$ | async; as moviesInTheatresProps) {
          <app-media-cards-section
            [props]="moviesInTheatresProps"
          ></app-media-cards-section>
        }
        @if (upcomingMoviesProps$ | async; as upcomingMoviesProps) {
          <app-media-cards-section
            [props]="upcomingMoviesProps"
          ></app-media-cards-section>
        }

        @if (moviesFromProvidersProps$ | async; as providersProps) {
          @for (
            providerProps of providersProps;
            track providerProps.sectionTitle
          ) {
            <app-media-cards-section
              [props]="providerProps"
            ></app-media-cards-section>
          }
        }
      }

      <!-- Series Section -->
      @if (homeService.selectedContentTypeName() === "TV Shows") {
        @if (heroCardsTitlesPropsForSeries$ | async; as heroCardProps) {
          @if (isHeroCardProps(heroCardProps)) {
            <app-hero-cards [props]="heroCardProps"></app-hero-cards>
          }
        }

        @if (seriesFromProvidersProps$ | async; as providersProps) {
          @for (
            providerProps of providersProps;
            track providerProps.sectionTitle
          ) {
            <app-media-cards-section
              [props]="providerProps"
            ></app-media-cards-section>
          }
        }
      }

      <!-- @if (
        homeService.selectedContentTypeName() === "People"
      ) {
        <app-media-cards-section
          [props]="trendingPeopleOptions"
        ></app-media-cards-section>
      } -->
    </div>
  </div>
</div>
