<div class="login">
  <div class="login__header">
    <app-header-buttons [headerButtons]="headerButtons"></app-header-buttons>
    <app-progress-indicator
      [progressIndicatorProps]="progressIndicatorProps"
    ></app-progress-indicator>
  </div>

  <div class="login__main">
    <div class="login__header-container">
      <h1 class="login__title">Create your Salida account</h1>
      <img
        src="assets/icons/login/illustration-temp.svg"
        alt=""
        width="130px"
        height="130px"
        class="login__illustration"
      />
    </div>

    <app-divider-with-title>CONTINUE WITH</app-divider-with-title>

    <app-socials-sign-in></app-socials-sign-in>

    <app-divider-with-title>OR</app-divider-with-title>

    <form class="login__section login__form-container" [formGroup]="signupForm">
      <div class="field">
        <label for="email" class="label">EMAIL</label>
        <input
          tabindex="1"
          placeholder="Example: name@example.com"
          type="text"
          class="input"
          formControlName="email"
        />
        <div class="form__error-messages-container">
          @for (error of emailErrorMessages(); let i = $index; track i) {
            <p
              [class]="isEmailPatternInvalid() ? '' : 'no-error'"
              class="form__error-message"
            >
              {{ error }}
            </p>
          }
          <p class="form__error-message">
            {{ authErrorMessagesSig().email }}
          </p>
        </div>
      </div>

      <div class="field">
        <label for="password" class="label">PASSWORD</label>
        <div class="password-input-and-toggle-container">
          <input
            #passwordInput
            autocomplete="on"
            appCapsLockDetector
            tabindex="1"
            placeholder="Create a strong password"
            [type]="passwordInputType"
            class="input password"
            formControlName="password"
            maxlength="25"
            [style]="
              passwordInputType == 'text'
                ? 'color: transparent; caret-color: white'
                : ''
            "
          />

          <div
            class="login__password-character-checker"
            [style]="
              passwordInputType == 'text' ? 'opacity: 100%' : 'opacity: 0%'
            "
          >
            <p>
              @for (
                charCheck of passwordValidCharactersCheck();
                let i = $index;
                track i
              ) {
                <span
                  class="login__password-char"
                  [ngClass]="charCheck.invalid ? 'invalid' : ''"
                  >{{ charCheck.char }}</span
                >
              }
            </p>
            <p class="chars-right-padding"></p>
          </div>

          <div
            tabindex="1"
            role="button"
            class="login__password-visibility-toggle"
            (click)="togglePasswordVisibility()"
            (click)="passwordInput.focus()"
          >
            <img
              [src]="
                passwordInputType == 'password'
                  ? 'assets/icons/login/eye-closed.svg'
                  : 'assets/icons/login/eye-open.svg'
              "
              height="24px"
              alt=""
              class="password-visibility-toggle-icon"
            />
          </div>
        </div>
        <div class="form__error-messages-container">
          @for (error of passwordErrorMessages(); let i = $index; track i) {
            <p
              [class]="isPasswordPatternInvalid() ? '' : 'no-error'"
              class="form__error-message"
            >
              {{ error }}
            </p>
          }
          <p class="form__error-message">
            {{ authErrorMessagesSig().password }}
          </p>
        </div>
      </div>

      <div class="field">
        <button
          #signupButton
          [class]="isSignupButtonDisabled() ? 'disabled' : ''"
          tabindex="1"
          type="submit"
          class="login-button"
        >
          @if (!isSignupActionInProgress()) {
            <p>Create Account</p>
          }
          @if (isSignupActionInProgress()) {
            <app-loading-dots></app-loading-dots>
          }
        </button>
      </div>
    </form>

    <div class="login__other-links-container">
      <p
        tabindex="1"
        [routerLink]="['/auth/login']"
        class="login__other-link login__other-link--primary"
      >
        Already have an account?
      </p>
    </div>
  </div>
</div>
